* {
    margin: 0px;
    box-sizing: border-box;
}
header p {
    background-color: #1CD1B0;
    font-family: roboto;
    font-size: 15px;

}

main section {
    position: relative;
}
main article {

}
main p {
    /* margin-top: 30px; */
    width: 267px;
}
h1 p{
    padding: 28px 868px 26px 28px;
    background-color: #00669F;
    font-size: 40px;
}
h2{
    padding-top: 73px;
    text-transform: uppercase;
    text-align: center;
    background-color: #F3F3F3;
}
main {
    margin-top: 154px;
    
}
image .base{
    padding-bottom: 10px;
}

.logo {
    position: absolute;
    left: 90px;
    top: 128px;
    
    /* width: 120px; */
    border-radius: 50%
}
article {
    position: absolute;
    
    height: 333px;
}
article p{
    font-family:  Roboto;
    background-color: #F3F3F3;
    font-size: 16px;
    padding-top: 10px;
    width: 300px;
    height: 336px;
   
}
.articuloUno {
    
    
    left: 32px;
    /* top: 293px; */
}
.articuloDos {
    
    left: 362px;
    /* top: 293px; */
}
.articuloTres {
  
    left: 692px;
    /* top: 293px; */
}
footer{
    margin-top: 833px;
    margin-bottom: 1px;
    font-family: roboto;
    font-size: 16px;
    padding: 16px 671px 16px 16px;
    background-color: #00669F;
}